.carpark > p {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 12px;
}

.carpark > p > a {
  color: var(--uwa-blue);
}

.carpark > .cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  margin: auto;
}

.carpark > .cards > div {
  margin: 12px;
}