Django # Django itself
django-dotenv # Use .env files
gunicorn # Python Web Server Gateway Interface HTTP server
whitenoise # Production static file servicing
factory-boy # Model testing using factories
djangorestframework # Rest Framework for Django
mysqlclient # Django MySql Connection
pycodestyle # Used for checking lint
autopep8 # Used for fixing lint
django-components # creates reusable template components in Django
assertpy # better asserts
xhtml2pdf # html to pdf
django-nose
nose
pinocchio
coverage