{% extends 'base.html' %} 

{% block head_content %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static '/styles/admin_panel.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/styles/home.css' %}">
  {% block admin_head %}{% endblock %}
{% endblock %}

{% block content %}
    <!--sidebar menu start-->
    <div class="admin">
      <div class="sidebar">
          <a href="/admin" id="dashboard">
            <h4 data-thin="true">Dashboard</h4>
          </a>
          <a href="/admin/carparks">
            <h4 data-thin="true">Car parks</h4>
          </a>
          <a href="/admin/bookings">
            <h4 data-thin="true">Bookings</h4>
          </a>
          <a href="/admin/users">
            <h4 data-thin="true">Users</h4>
          </a>
          <a href="/admin/settings">
            <h4 data-thin="true">Settings</h4>
          </a>
          <a href="/logout">
            <h4 data-thin="true">Logout</h4>
          </a>
      </div>
      <div class="content">
          {% block admin_content %}{% endblock %}
      </div>
    </div>
    <!--sidebar menu end-->
{% endblock %}
