{% extends 'base.html' %} 

{% block head_content %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static '/styles/admin_panel.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/styles/home.css' %}">
  {% block admin_head %}{% endblock %}
{% endblock %}
{% block title %} UniPark | Admin panel {% endblock %}

{% block content %}
    <!--sidebar menu start-->
    <div class="admin">
      <div class="sidebar">
          <a href="/admin" class="h4-thin white {% if request.path == "/admin/" %}active{% endif %}">Dashboard</a>
          <a href="/admin/carparks" class="h4-thin white {% if "carparks" in request.path %}active{% endif %}">Car parks</a>
          <a href="/admin/bookings" class="h4-thin white">Bookings</a>
          <a href="/admin/users" class="h4-thin white {% if "users" in request.path %}active{% endif %}">Users</a>
          <a href="/admin/settings" class="h4-thin white {% if "settings" in request.path %}active{% endif %}">Settings</a>
          <a href="/logout" class="h4-thin white">Logout</a>
      </div>
      <!--sidebar menu end-->
      <div class="content">
          {% block admin_content %}{% endblock %}
      </div>

      <div id="modal" class="modal">
        <div class="modal-popup"> 
          <div class="modal-content">
            <p> Are you sure? </p>
            <button id="modal-yes" class="admin-btn red p-bold modal-buttons"> Yes </button>
            <button id="modal-no" class="admin-btn blue p-bold modal-buttons"> No </button>
          </div>
        </div>
      </div>
    </div>
    <script>
      window.onclick = (event) => {
        const modal = document.getElementById("modal");
        if (event.target == modal) modal.style.display = 'none';
      }
    </script>
{% endblock %}
