{% extends 'admin.html' %} 
{% load admin %}

{% block admin_head %}
 {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'styles/admin_buttons.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'styles/admin_form.css' %}">
  <script src="{% static '/scripts/delete.js' %}"></script>
{% endblock %}
{% block title %} UniPark | Add Bay {% endblock %}

{% block admin_content %}
  {% create_form 'bay' bay form back=back_url redirect=back_url errors=errors %}
{% endblock %}
