{% extends 'admin.html' %} 
{% load admin %}

{% block admin_head %}
 {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'styles/admin_buttons.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'styles/admin_form.css' %}">
  <script src="{% static '/scripts/delete.js' %}"></script>
{% endblock %}

{% block admin_content %}
  {% create_form 'bookings' booking 'carpark:text|date:text|name:text|email:email|rego:text|company:text|phone:text' static="true" %}
{% endblock %}
