{% load utilities %}

<div class="admin-form">
  <form action="/api/{{title}}/" method="POST">
    {% csrf_token %}
    {% if data.id %}<input hidden name="pk" value="{{data.id}}"/>{% endif %}
    <input hidden name="redirect" value="{% if redirect %}{{redirect}}{% else %}/admin/{{title}}{% endif %}"/>

    <div class="admin-form-top">
      {% if data.name %}
        <h3>{{title|title}} - {{data.name}}</h3>
      {% elif data.username %}
        <h3>{{title|title}} - {{data.username}}</h3>
      {% else %}
        <h3>Create {{title|title}}</h3>
      {% endif %}

      {% if nobtn != "true" %}
        <div class="admin-form-btns">
          <a class="admin-btn blue p-bold" href="{% if back %}{{back}}{% else %}/admin/{{title}}{% endif %}">Back</a>
          <button type="submit" class="admin-btn green p-bold">Save</button>
          {% if title == "users" and data.id is not None and data.id == current_user_id %}
            <a href="password_change" class="admin-btn blue p-bold auto">Change Password</a>
          {% endif %}
          {% if title == "bookings" %}
            <a href="/admin/bookings/download/{{data.id}}" target="_blank" rel="noopener noreferrer" class="admin-btn blue p-bold auto">Download PDF</a>
            <a href="/api/emails/resend-booking/{{data.id}}" class="admin-btn blue p-bold auto">Resend Email</a>
          {% endif %}
          {% if data.name %}
            <button 
              type="button" 
              class="admin-btn red p-bold" 
              onclick="confirmDeletion('/api/{{title}}/{{data.id}}', '{% if redirect %}{{redirect}}{% else %}/admin/{{title}}{% endif %}')"
            >
              Delete
            </button>
          {% endif %}
        </div>
      {% endif %}
    </div>

    <div class="admin-form-fields">
      {% for field in fields %}
        {% if field.type == 'text' %}
          <div class="admin-form-field">
            <label class="p-bold" for="{{field.name}}">{{field.label|title}}</label>
            <input type="text" id="{{field.name}}" name="{{field.name}}" value="{{data|key:field.name}}" required {% if static %}disabled{% endif %}/>
          </div>
        {% elif field.type == 'textarea' %}
          <div class="admin-form-field">
            <label class="p-bold" for="{{field.name}}">{{field.label|title}}</label>
            <textarea class="h4-thin" id="{{field.name}}" name="{{field.name}}" {% if field.required %}required{% endif %} {% if static %}disabled{% endif %}>{{data|key:field.name}}</textarea>
          </div>
        {% elif field.type == 'password' %}
          <div class="admin-form-field">
            <label class="p-bold" for="{{field.name}}">{{field.label|title}}</label>
            <input type="password" id="{{field.name}}" name="{{field.name}}" required {% if static %}disabled{% endif %}/>
          </div>
        {% elif field.type == 'checkbox' %}
          {% if data.id is None or data.id != current_user_id %}
            <div class="admin-form-checkbox">
              <label class="p-bold" for="{{field.name}}">{{field.label|title}}</label>
              <input type="hidden" id="{{field.name}}" name="{{field.name}}" value="off"/>
              <input class="h4-thin" type="checkbox" id="{{field.name}}" name="{{field.name}}" {% if data|key:field.name %} checked {% endif %}/>
            </div>
          {% endif %}
        {% elif field.type == 'hidden' %}
          <input type="hidden" id="{{field.name}}" name="{{field.name}}" value="{{field.value}}"/>
        {% else %}
          <div class="admin-form-field">
            <label class="p-bold" for="{{field.name}}">{{field.label|title}}</label>
            <input type="{{field.type}}" id="{{field.name}}" name="{{field.name}}" value="{{data|key:field.name}}" required {% if static %}disabled{% endif %}/>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    {% if errors %}
      <br> <br>
      {% for error in errors %}
        <li class="error">
          {{ error }}
        </li>
      {% endfor %}
    {% endif %}

  </form>
</div>