{% load utilities %}

<div class="admin-form">
  <form action="/api/{{title}}/" method="POST">
    {% csrf_token %}
    {% if data.id %}<input hidden name="pk" value="{{data.id}}"/>{% endif %}
    <input hidden name="redirect" value="/admin/{{title}}"/>

    {% if data.name %}
      <h3>{{title|title}} - {{data.name}}</h3>
    {% else %}
      <h3>Modify {{title|title}}</h3>
    {% endif %}
    <a type="submit" class="admin-btn blue p-bold" href="/admin/{{title}}">Back</a>
    <button type="submit" class="admin-btn green p-bold">Save</button>
    {% if title == "users" %}
      <a href="password_change" class="admin-btn blue p-bold" > Change Password </a>
    {% endif %}
    {% if data.name %}
      <button type="button" class="admin-btn red p-bold" onclick="deleteEntry('/api/{{title}}/{{data.id}}')">Delete</button>
    {% endif %}

    {% for field in fields %}
      {% if field.type == 'text' %}
        <div>
          <label for="{{field.name}}">{{field.name|title}}</label>
          <input type="text" id="{{field.name}}" name="{{field.name}}" value="{{data|key:field.name}}" required/>
        </div>
      {% elif field.type == 'textarea' %}
        <div>
          <label for="{{field.name}}">{{field.name|title}}</label>
          <textarea id="{{field.name}}" name="{{field.name}}" required>{{data|key:field.name}}</textarea>
        </div>
      {% elif field.type == 'password' %}
        <div>
          <label for="{{field.name}}">{{field.name|title}}</label>
          <input type="password" id="{{field.name}}" name="{{field.name}}" required/>
        </div>
      {% elif field.type == 'checkbox' %}
        <div>
          <label for="{{field.name}}">{{field.name|title}}</label>
          <input type="hidden" id="{{field.name}}" name="{{field.name}}" value="off"/>
          <input type="checkbox" id="{{field.name}}" name="{{field.name}}" {% if data|key:field.name %} checked {% endif %}/>
        </div>
      {% else %}
         <div>
          <label for="{{field.name}}">{{field.name|title}}</label>
          <input type="{{field.type}}" id="{{field.name}}" name="{{field.name}}" value="{{data|key:field.name}}" required/>
        </div>
      {% endif %}
    {% endfor %}
  </form>
</div>