{% extends "base.html" %}

{% block head_content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/styles/home.css' %}">
{% endblock %}
{% block title %} UniPark | Login {% endblock %}


{% block content %}
  <div class="home-wrapper">
    <div class="home">
      <form method="POST" class="login-form">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}">

          {% if next == '/' %}
            <h2>UniPark Booking Login</h2>
          {% elif next == '/admin/' %}
            <h2>UniPark Admin Login</h2>
          {% else %}
            <h2>UniPark Login</h2>
          {% endif %}

          {% if form.errors %}
            <p class="error">Your username/password is incorrect.</p>
          {% endif %}

          <div class="field">
            {{ form.username.label_tag }}
            {{ form.username }}
          </div>

          <div class="field">
            {{ form.password.label_tag }}
            {{ form.password }}
          </div>
          <div class="login-submit">
            <input type="checkbox" class="login-checkbox"/>
            <p>Remember Me</p>
            <button type="submit" value="login" class="login-btn p-bold">Login</button>
          </div>
          <a href="/password_reset"> Forgot password? </a>
      </form>
    </div>
  </div>
{% endblock %}