{% extends 'admin.html' %} 
{% load admin %}

{% block admin_head %}
 {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'styles/admin_buttons.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'styles/admin_form.css' %}">
  <script src="{% static '/scripts/delete.js' %}"></script>
{% endblock %}
{% block title %} UniPark | Add User {% endblock %}

{% block admin_content %}
  {% create_form 'users' user 'username:text|password:password|email:email|phone:text|hub:text|is_staff:checkbox:Staff Member' current_user_id=current_user_id errors=errors %}
{% endblock %}
