{% extends 'admin.html' %} 
{% load admin %}

{% block admin_head %}
 {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'styles/admin_buttons.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'styles/admin_form.css' %}">
{% endblock %}

{% block admin_content %}
  <div class="admin-form">
    <form method="post" action="/admin/users/view/password_change">
      <div class="admin-form-top">
        <h3>Settings</h3>
        <div class="admin-form-btns">
          <a type="submit" class="admin-btn blue p-bold" href="/admin/users">Back</a>
          <input type="submit" class="admin-btn green p-bold" value="Submit">
        </div>
      </div>

      {% csrf_token %}
      {{ form.errors }}

      <div class="admin-form-field">
        {{form.password1.label_tag}}
        {{form.password1}}
      </div>
      {{form.password1.help_text}}

      <div class="admin-form-field">
        {{form.password2.label_tag}}
        {{form.password2}}
      </div>
      {{form.password2.help_text}}
    </form>
  </div>
{% endblock %}
