{% extends 'admin.html' %} 
{% load admin %}

{% block admin_head %}
 {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'styles/admin_buttons.css' %}">
{% endblock %}

{% block admin_content %}
    <form method="post" action="/admin/users/view/password_change">
        {% csrf_token %}
        {{form}}

        <a type="submit" class="admin-btn blue p-bold" href="/admin/users">Back</a>
        <input type="submit" class="admin-btn green p-bold" value="Submit">
    </form>
{% endblock %}
