{% extends 'admin.html' %} 

{% block admin_head %}
{% endblock %}

{% block admin_content %}
  <h1>Settings</h1>
  <form action="/admin/settings/" method="POST">
    {% csrf_token %}
    {% for setting in settings %}
      <div class="admin-settings">
        <label for="{{ setting.key }}">{{ setting.label }}</label>
        <input type="{{ setting.type }}" name="{{ setting.key }}" value="{{ setting.value }}" required />
      </div>
    {% endfor %}
    <button type="submit">Submit</button>
  </form>
{% endblock %}
