{% extends "base.html" %}

{% block head_content %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'styles/staff_required.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/styles/home.css' %}">
{% endblock %}
{% block title %} UniPark | Staff Required {% endblock %}

{% block content %}
  <div class="home-wrapper">
    <div class="home">
      <form method="POST" class="logout-form">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">

        <h2>Please login to a staff account</h2>
        
        <div class="logout-submit">
          <a href="/logout">Logout</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}