{% load utilities %}

<div class="table-wrapper">
  {% csrf_token %}
  <input name="redirect" value="/admin/{{title}}" hidden/>

  <div class="top">
    <h3>{{title|title}}</h3>
    <a class="admin-btn green p-bold" href="add">Add</a>
  </div>
  <div class="table">
    <div class="table-headers">
      {% for header in headers %}
        <p data-small-bold="true">{{header|title}}</p>
      {% endfor %}
    </div>

    <div class="table-rows">
      {% for row in data %}
        <div class="table-row-actions" data-light="{% if forloop.counter|divisibleby:2 == 0 %}true{% else %}false{% endif %}">
          
          <div class="table-row">
            {% for header in headers %}
              <h4 data-thin="true">{{row|hash:header}}</h4>
            {% endfor %}
          </div>

          <div class="table-actions">
            <a class="admin-btn blue p-bold" href="/admin/{{title}}/view/{{row.id}}">View</a>
            <button onclick="deleteEntry('/api/{{title}}/{{row.id}}')" type="button" class="admin-btn red p-bold">Delete</button>
          </div>
        </div>
      {% endfor %}
    </div> 
  </div>
</div>