{% load utilities %}

<div class="table-wrapper">
  {% csrf_token %}
  <input hidden name="redirect" value="{% if redirect %}{{redirect}}{% else %}/admin/{{title}}{% endif %}"/>

  <div class="top">
    <h3>{{title|title}}</h3>
    {% if not no_add %}
      <a class="admin-btn green p-bold" href="{% if url %}{{url}}{% else %}/admin/{{title}}/add{% endif %}">Add</a>
    {% endif %}
  </div>
  <div class="table">
    <div class="table-headers">
      {% for header in headers %}
        <p data-small-bold="true">{{header|title}}</p>
      {% endfor %}
    </div>

    <div class="table-rows">
      {% for row in data %}
        <div class="table-row-actions" data-light="{% if forloop.counter|divisibleby:2 == 0 %}true{% else %}false{% endif %}">
          
          <div class="table-row">
            {% for header in headers %}
              <h4 data-thin="true">
                {{row|key:header}}
                {% if usertable and row.id == current_user_id %}
                  (current user)
                {% endif %}
              </h4>
            {% endfor %}
          </div>

          <div class="table-actions">
            {% if carpark %}
              <a class="admin-btn blue p-bold" href="/admin/carparks/{{ carpark }}/bay/{{row.id}}/view">View</a>
            {% else %}
              <a class="admin-btn blue p-bold" href="/admin/{{title}}/view/{{row.id}}">View</a>
            {% endif %}

            {% if not no_del %}
              <button 
                onclick="confirmDeletion('/api/{{title}}/{{row.id}}', '{% if redirect %}{{redirect}}{% else %}/admin/{{title}}{% endif %}')" type="button" 
                class="admin-btn red p-bold {% if title == 'users' and row.id == current_user_id %} admin-btn-hidden {% endif %}"
              >
                Delete
              </button>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div> 
  </div>
</div>