h2, h3 {
  text-align: center;
}

svg[data-rotate="true"] {
  transform: rotate(180deg);
}

.backButton {
  position: absolute;
  top: 24px;
  left: 24px;
}

.helpButton {
  position: absolute;
  top: 24px;
  right: 24px;
}

.closeButton {
  position: absolute;
  bottom: 20px;
}

.bookingForm {
  position: relative;
  height: 100%;
}

.currentStep {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: absolute;
  margin: auto;
  inset: 600px;
  width: 500px;
  height: 200px;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-color: var(--uwa-blue);
  border-radius: 4px;
  outline: none;
  padding: 20px;
}