h2, h3 {
  text-align: center;
}

svg[data-rotate="true"] {
  transform: rotate(180deg);
}

.backButton {
  position: absolute;
  top: 24px;
  left: 24px;
}

.bookingForm {
  position: relative;
  height: 100%;
}

.currentStep {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: absolute;
  inset: 300px;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  /*-webkit-overflow-scrolling: 'touch';*/
  border-radius: 4px;
  outline: none;
  padding: 20px;
  opacity: 90%;
}
