.baysSelection {
  padding: 50px 0;
}

.bayButtons {
  display: flex;
  margin-bottom: 8px;
  justify-content: space-between;
}

.bayButtonsRight > button {
  margin-left: 12px;
}

.bayButtonsLeft > div {
  margin-right: 12px;
}

.bayButtonsLeft, .bayButtonsRight {
  display: flex;
  align-items: flex-end;
}

.table {
  display: grid;
  grid-auto-columns: auto;
  max-width: 956px;
  overflow-x: scroll;
  border: 3px solid var(--uwa-blue);
  border-radius: 7px;
}

.bay, .top {
  display: flex;
  flex-direction: row;
}

.top, .topLeft {
  background: var(--light-blue);
  height: 28px;
  justify-content: center;
  align-items: flex-end;
}

.bay[data-light="true"] {
  background: var(--light-blue);
}

.left, .topLeft {
  width: 60px;
  display: flex;
}

.left {
  position: relative;
  justify-content: center;
  align-items: center;
}

.times, .bayTimes {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 40px;
  grid-auto-flow: column;
}

.times > p {
  text-align: center;
  width: 40px;
}

.bayTime {
  width: 38px;
  height: 38px;
  margin: 1px;
  border-radius: 0;
  appearance: none;
  padding: 0;
  border: none;
  cursor: pointer;
}

.bayTime[data-unavailable="true"] {
  cursor: not-allowed;
  background: var(--uwa-secondary-red) !important;
}

.bayTime[data-selected="false"] {
  background: var(--uwa-secondary-gold);
}

.bayTime[data-selected="true"] {
  background: var(--uwa-secondary-green);
}

.bayTime[data-selected="false"]:hover {
  background: var(--uwa-secondary-green);
}

.bayTime[data-isbuffer="true"] {
  cursor: not-allowed;
  background: var(--light-red);
}

.bayTime[data-isbuffer="true"]:hover {
  background: var(--light-red);
}

.blue {
  color: var(--uwa-blue);
}

.legends {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.legend {
  display: flex;
  align-items: center;
  margin-right: 24px;
}

.legend > p {
  font-weight: bold;
}

.greenSquare, .redSquare, .yellowSquare, .pinkSquare {
  width: 38px;
  height: 38px;
  margin-right: 12px;
}

.greenSquare { background: var(--uwa-secondary-green)}
.redSquare { background: var(--uwa-secondary-red)}
.yellowSquare { background: var(--uwa-secondary-gold)}
.pinkSquare { background: var(--light-red)}

.additionInfo {
  position: absolute;
  right: 4px;
  top: 5px;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.additionInfo > svg {
  width: 15px;
  height: 15px;
}

.closeButton {
  position: absolute;
  bottom: 20px;
}

.modal {
  position: absolute;
  margin: auto;
  left: calc(50% - 250px);
  top: calc(50% - 100px);
  width: 500px;
  height: 200px;
  border: 3px solid var(--uwa-blue);
  background: #fff;
  overflow: auto;
  border-radius: 7px;
  outline: none;
  padding: 20px;
}