<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>practice</title>
    <meta charset="UTF-8">
    <link href="styles.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="card">
        <div class="topHalf">
            Admin Carpark North
        </div>
        <div class="bottomHalf">
            <div class="description">
                Car park located somewhere.
            </div>
            <div class="directions"> 
                <i class="material-icons" style="font-size:20px">room</i>

                <a href="https://goo.gl/maps/RytgNDB4MW8McDBY6" target="_blank">
                    &nbsp; Get directions
                    <i class="material-icons newWindowIcon">open_in_new</i>
                </a>
            </div>
        </div>
    </div>
</body>