.custombutton {
  background-color: var(--uwa-blue);
  color: white;
  font-weight: bold;
  align-items: center;
  display: inline-flex;
  padding: 9px 20px 9px 20px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}

.custombutton > svg > path {
  fill: var(--white);
}

