.admin-btn {
  width: 80px;
  height: 35px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  color: white;
}

.admin-btn.auto {
  width: auto;
  padding: 0 16px;
}

.admin-btn.blue { background: var(--uwa-blue); }
.admin-btn.red { background: var(--uwa-secondary-red); }
.admin-btn.green { background: var(--uwa-secondary-green); }

a {
  text-decoration: none;
}

.admin-btn-hidden {
  visibility: hidden;
}