.admin-form {
  padding: 27px;
}

.admin-form-top {
  display: flex;
  justify-content: space-between;
}

.admin-form-btns {
  display: flex;
}

.admin-form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.admin-form-field > input {
  height: auto;
  padding: 8px;
  border-radius: 7px;
  border: 3px solid var(--uwa-blue);

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  color: var(--uwa-black);
}

.admin-form-field > textarea {
  height: auto;
  padding: 8px;
  border-radius: 7px;
  border: 3px solid var(--uwa-blue);
  resize: vertical;
}

.error {
  color: var(--uwa-secondary-red);
  margin-bottom: 24px;
}