.admin {
  margin-top: 100px;
  display: flex;
  height: calc(100% - 100px);
}


.sidebar {
  background: var(--uwa-blue);
  width: 220px;
}

.sidebar a:first-child {
  margin-top: 31px;
}

.sidebar a {
  max-width: 220px;
  text-decoration: none;
  height: 47px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  transition: 0.2s background ease;
}

.sidebar a:hover {
  background: #2D3C9F;
}

.active {
  background: linear-gradient(to right, #FDFDFD 2.5%, #2D3C9F 2.5%, #2D3C9F) !important;
}

.content {
  flex: 1;
}