.header {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  height: 52px;
  max-height: 52px;
  box-shadow: 4px 4px 4px 0px #0000001A;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 48px);
  background: var(--white);
}

.header-left {
  display: flex;
}

.header-left > a {
  text-decoration: none;
  cursor: pointer; 
}

.header-btns > a {
  display: inline-flex;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 7px;
  background-color: var(--uwa-blue);
  text-decoration: none;
  font-size: 14.5px;
  color: var(--white) !important;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 4px 0px #0000001A;
  margin-left: 5px;
  position: relative;
  left: 670px;
  top: 9px;
}

.header-btns > a:visited {
  color: var(--uwa-black)
}