.header {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  height: 52px;
  max-height: 52px;
  box-shadow: 4px 4px 4px 0px #0000001A;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 48px);
  background: var(--white);
}

.header-left {
  display: flex;
}

.header-left > a {
  text-decoration: none;
  cursor: pointer;
}

.header-btns {
  position: absolute;
  right: 200px;
  top: 32px;
}

.header-btns > a {
  display: inline-flex;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 7px;
  background-color: var(--uwa-blue);
  text-decoration: none;
  font-size: 14.5px;
  color: var(--white) !important;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  margin: 0 5px;
  transition: 0.2s all ease;
}

.header-btns > a:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: scale(1.02, 1.02);
}

.header-btns > a:visited {
  color: var(--uwa-black)
}

/* Makes buttons disappear below certain screen width to prevent overlap
with 'UniPark' text*/
@media only screen and (max-width: 630px) {
  .header-btns {
      display: none;
  }
}