.home-wrapper {
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  background-color: var(--uwa-blue);
  padding: 0 24px;
  padding-top: 100px;

}

.home {
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/static/images/uwa-swan.svg');
  background-repeat: no-repeat;
  background-position: -400% 50%;
  background-size: 110%;
}