.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 221px;
  border: 3px solid var(--uwa-blue);
  border-radius: 7px;
  background-color: var(--uwa-blue);
  display: grid;
  grid-template-rows: 106px 1fr;
  transition: 0.2s all ease;
}

.hover {
  cursor: pointer;
}

.hover:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: scale(1.02, 1.02);
}

.topHalf {
  /* Top Half Card Container */
  max-width: 300px;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
}

.card h3 {
  color: var(--white);
}

.bottomHalf {
  max-width: 300px;
  border-top: 3px solid var(--uwa-secondary-gold);
  background: var(--white);
  border-radius: 0px 0px 4px 4px;
  padding: 15px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.2s all ease;
}

.description {
  /* Description Container */
  box-sizing: border-box;
}

.directions {
  display: flex;
  align-items: center;
}

.directions > a {
  margin-left: 4px;
  display: flex;
  align-items: center;
}

a:link {
  color: inherit;
  text-decoration: none;
  align-self: inherit;
}

a:visited {
  color: inherit;
}

a:hover {
  color: var(--uwa-blue);
}

.directions > a > svg {
  margin-left: 2px;
  width: 12px;
  height: 12px;
}

.directions > a > svg > path {
  fill: var(--uwa-black);
}