.outputs {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 24px;
}

.outputs > div {
  margin-bottom: 12px;
}

.btns {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  column-gap: 10px;
}